<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}"
      th:with="activeTab='departments'">

<head>
    <title th:text="#{user.edit.label}">User Edit</title>
</head>


<body>

<div layout:fragment="page_content" id="page_content">

    <h3 th:text="#{user.edit.label}">User Edit</h3>

    <form class="form-group" action="/admin/appUserEdit" th:action="@{/admin/appUserEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${appUser.id}"/>
        <div class="row">

            <div class="col-md-3 form-group">
                <label for="firstname" th:text="#{firstName.label}">First name</label>
                <input type="text" class="form-control" id="firstname" th:field="${appUser.firstName}"/>
            </div>
            <div class="col-md-3 form-group">
                <label for="lastname" th:text="#{lastName.label}">Last name</label>
                <input type="text" class="form-control" id="lastname" th:field="${appUser.lastName}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 form-group">
                <label for="username" th:text="#{username.label}">Username</label>
                <input type="text" class="form-control" id="username" th:field="${appUser.username}"/>
            </div>
            <div class="col-md-3 form-group">
                <label for="password" th:text="#{password.label}">Password</label>
                <input type="password" class="form-control" id="password" th:field="${appUser.password}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 form-group">
                <label for="rank" th:text="#{user.rank.label}">Rank</label>
                <select id="rank" class="form-control" th:field="${appUser.rank}">
                    <option th:each="d : ${ranks}" th:value="${d.id}" th:text="${d.name}"></option>
                </select>
            </div>

            <div class="col-md-3 form-group">
                <label for="experience" th:text="#{user.experience.label}">Experience</label>
                <select id="experience" class="form-control" th:field="${appUser.experience}">
                    <option th:each="d : ${experiences}" th:value="${d.id}" th:text="${d.level}"></option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 form-group">
                <label for="department" th:text="#{department.label}">Department</label>
                <select id="department" class="form-control" th:field="${appUser.department}">
                    <option th:each="d : ${departments}" th:value="${d.id}" th:text="${d.name}"></option>
                </select>
            </div>

            <div class="col-md-3 form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" th:field="${appUser.email}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 form-group">
                <label for="appRoles" th:text="#{roles.label}">Roles</label>
                <select id="appRoles" class="form-control" th:field="${appUser.appRoles}" multiple="multiple">
                    <option th:each="r : ${allRoles}" th:value="${r.id}" th:text="${r.role}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="active"> Active </label>
                <input type="checkbox" id="active" name="active" th:checked="${appUser.active}"/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="#{save.label}">Save</button>
        <a href="#" th:href="@{/admin/appUserList}" class="btn btn-danger" role="button" th:text="#{cancel.label}">Cancel</a>
    </form>

</div>
</body>
</html>