<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}"
      th:with="activeTab='ranks'">
<html>
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.rank.label}">Rank edit</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">

    <h3 th:text="#{user.rank.label}">Rank Edit</h3>

    <form class="form-group" action="/admin/rankEdit" th:action="@{/admin/rankEdit}" method="post">
        <input th:type="hidden" name="id" th:field="${rank.id}"/>
        <div class="form-group">
            <label for="title" th:text="#{name.label}">Name</label>
            <input name="text" class="form-control" id="title" th:field="${rank.name}"/>
            <label th:if="${#fields.hasErrors('rank.name')}" th:errors="*{rank.name}"
                   class="validation-message" th:text="#{rank.validateName.label}"></label>
        </div>
        <button name="submit" class="btn btn-primary" th:text="#{save.label}">Save</button>
        <a href="#" th:href="@{/admin/rankList}" class="btn btn-danger" role="button" th:text="#{cancel.label}">Cancel</a>
    </form>

</div>

</body>
</html>