<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}"
      th:with="activeTab='settings'">

<head>
    <title th:text="#{setting.label}">Settings</title>
</head>


<div layout:fragment="page_content" id="page_content">

    <h3 th:text="#{setting.label}">Settings</h3>

    <form class="form-group" action="/admin/settings" th:action="@{/admin/settings}" method="post"
          th:object="${appSettings}">

        <input th:type="hidden" name="id" th:field="${appSettings.id}"/>
        <div class="form-row">
            <div class="form-group">
                <label for="title" th:text="#{attachment.dir.label}">Attachment dir</label>
                <input type="text" class="form-control" id="title" th:field="${appSettings.attachmentDir}"/>
                <label th:if="${#fields.hasErrors('attachmentDir')}" th:errors="*{attachmentDir}"
                       class="validation-message"></label>

            </div>
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="#" th:href="@{/admin/settings}" class="btn btn-danger" role="button">Cancel</a>
        </div>
    </form>

    <span th:utext="${successMessage}"></span>

</div>

</html>