<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Menu</title>
</head>
<body>


<nav th:fragment="navbar(activeTab)" class="evidata navbar navbar-dark bg-dark navbar-fixed-top" style="background-color:#0d0c2d">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="/img/eviDataLogo.png">
            </a>
        </div>
        <li class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li th:classappend="${activeTab == 'home'}? 'active' : ''">
                    <a href="/home" th:href="@{/home}" th:text="#{home.label}">Home</a>
                </li>
                <li th:classappend="${activeTab == 'about'}? 'active' : ''">
                    <a href="/about" th:href="@{/about}" th:text="#{about.label}">About</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="#{admin.label}">Admin
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li th:classappend="${activeTab == 'departmentList'}? 'active' : ''">
                            <a href="/admin/departmentList" th:href="@{/admin/departmentList}" th:text="#{departments.label}">Departments</a>
                        </li>

                        <li th:classappend="${activeTab == 'expertiseTypeList'}? 'active' : ''">
                            <a href="/admin/departmentList" th:href="@{/admin/expertiseTypeList}" th:text="#{Expertise.expertiseTypes.label}">ExpertiseType</a>
                        </li>

                        <li th:classappend="${activeTab == 'equipments'}? 'active' : ''">
                            <a href="/admin/equipmentList" th:href="@{/admin/equipmentList}" th:text="#{equipments.label}">Equipments</a>
                        </li>

                        <li th:classappend="${activeTab == 'ranks'}? 'active' : ''">
                            <a href="/admin/rankList" th:href="@{/admin/rankList}" th:text="#{user.rank.label}">Ranks</a>
                        </li>

                        <li th:classappend="${activeTab == 'experiences'}? 'active' : ''">
                            <a href="/admin/experienceList" th:href="@{/admin/experienceList}" th:text="#{user.experience.label}">Experiences</a>
                        </li>

                        <li th:classappend="${activeTab == 'appUsersList'}? 'active' : ''">
                            <a href="/admin/appUserList" th:href="@{/admin/appUserList}" th:text="#{users.label}">Users</a>
                        </li>
                        <li th:classappend="${activeTab == 'settings'}? 'active' : ''">
                            <a href="/admin/settings" th:href="@{/admin/settings}" th:text="#{setting.label}">Settings</a>
                        </li>
                    </ul>
                </li>

                <li th:classappend="${activeTab == 'expertises'}? 'active' : ''">
                    <a href="/expertiseList" th:href="@{/expertiseList}" th:text="#{Expertises.label}">Expertises</a>
                </li>
                <li th:classappend="${activeTab == 'investigationList'}? 'active' : ''">
                    <a href="/investigationList" th:href="@{/investigationList}" th:text="#{investigations.label}">Investigations</a>
                </li>

                <li th:classappend="${activeTab == 'reportEquipment'}? 'active' : ''">
                    <a href="/report/equipment/1" th:href="@{/report/equipment}" th:text="#{report.equipment.label}">Report Equipment</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="dropdown-toggle" id="language-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true" th:text="${session.locale==null?'ro':session.locale.language}"> </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="language-button">
                        <li>
                            <a th:href="@{''(lang=en)}"><span class="flag-icon flag-icon-us" th:text="#{lang.en}"> </span></a>
                        </li>
                        <li>
                            <a th:href="@{''(lang=ro)}"><span class="flag-icon flag-icon-us" th:text="#{lang.ro}"> </span></a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" th:text="#{logout.label}" aria-hidden="true"></span>
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
    </div>
    </div>
</nav>
-->
</body>
</html>