<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}"
      th:with="activeTab='expertises'">

<head>
    <link rel="icon" type="image/png" href="img/eviDataLogo.png" />
    <title th:text="#{Expertise.details.label}">Expertise Details</title>
    <script type="text/javascript" th:src="@{/js/expertiseDetail.js}" src="/js/expertiseDetail.js"></script>
</head>


<div layout:fragment="page_content" id="page_content">
    <h3 th:text="#{Expertise.details.label}">Expertise Details</h3>

    <table class="evidata-table" cellpadding="0" cellspacing="0">
        <tr>
            <td class="td-label" th:text="#{Expertise.expertiseNumber.label}">Expertise number</td>
            <td th:text="${expertise.expertiseNumber}"/>
        </tr>
        <tr>
            <td class="td-label" th:text="#{Expertise.deadline.label}">Deadline</td>
            <td th:text="${#dates.format(expertise.deadline,'yyyy-MM-dd')}"/>
        </tr>
        <tr>
            <td class="td-label" th:text="#{department.label}">Department</td>
            <td th:text="${expertise.department}? ${expertise.department.name}:''"/>
        </tr>
        <tr>
            <td class="td-label" th:text="#{Expertise.fileNumber.label}">File number</td>
            <td th:text="${expertise.fileNumber}"/>
        </tr>
        <tr>
            <td class="td-label" th:text="#{Expertise.requestedBy.label}">Requested By</td>
            <td th:text="${expertise.requestedBy}"/>
        </tr>
        <tr>
            <td class="td-label">Status</td>
            <td th:text="${expertise.status}? ${expertise.status.displayName}:''"/>
        </tr>
    </table>


    <h4 th:text="#{responsibles.label}">Responsibles</h4>
    <table class="table table-bordered" th:if="${expertise.appUserList!=null}">
        <thead>
        <tr>
            <th scope="col" th:text="#{name.label}">Name</th>
            <th scope="col" th:text="#{user.rank.label}">Rank</th>
            <th scope="col" th:text="#{user.experience.label}">Experience</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="appUser: ${expertise.appUserList}">
            <td th:text="${appUser.firstName+' ' + appUser.lastName}"/>
            <td th:text="${appUser.rank!=null?appUser.rank.name:''}"/>
            <td th:text="${appUser.experience!=null?appUser.experience.level:''}"/>

        </tr>
        </tbody>
    </table>

    <h4 th:text="#{investigations.label}">Investigations </h4>

    <table class="table table-bordered" th:if="${investigations!=null}">
        <thead>
        <tr>
            <th scope="col" th:text="#{no.date.label}">Date</th>
            <th scope="col" th:text="#{investigation.evidence.label}">Evidence</th>
            <th scope="col" th:text="#{investigation.method.label}">Method</th>
            <th scope="col" th:text="#{equipments.label}">Equipments</th>
            <th scope="col" th:text="#{investigation.intermediateResult.label}">IntermediateResult</th>
            <th scope="col" th:text="#{investigation.result.label}">Result</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="item: ${investigations}">
            <td th:text="${#dates.format(item.date,'yyyy-MM-dd')}"/>
            <td th:text="${item.evidence}"/>
            <td th:text="${item.method}"/>

            <td>
                <ul>
                    <li th:each="e: ${item.equipments}">
                        <a href="#" c th:href="@{/report/equipment?id=__${e.id}__}">
                            <span th:text="${e.name}"></span>
                        </a>
                    </li>
                </ul>
            </td>

            <td th:text="${item.intermediateResult}"/>
            <td th:text="${item.result}"/>

        </tr>
        </tbody>
    </table>


    <h4 th:text="#{attachments.label}">Attachments</h4>


    <table class="table table-bordered" th:if="${expertise.attachments!=null}">
        <thead>
        <tr>
            <th scope="col" th:text="#{name.label}">Name</th>
            <th scope="col" th:text="#{size.label}">Size</th>
            <th th:width="70" scope="col" th:text="#{actions.label}">Actions</th>
        </tr>
        </thead>
        <tbody>

        <tr scope="row"th:each="e: ${expertise.attachments}">
            <td>
                <a href="#" th:href="@{/downloadAttachment/__${e.id}__}">
                    <span th:text="${e.fileName + ' ' + e.size}"></span>
                </a>
            </td>
            <td th:text="${e.size}"/>

            <td th:align="center">
                <a href="#" class="confirm-delete-attachment" th:attr="data-id=${e.id},data-expertiseid=${expertise.id}">
                    <span class=" glyphicon glyphicon-minus"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <form method="POST" action="/expertise/uploadFile" enctype="multipart/form-data">
        <input th:type="hidden" name="expertiseId" th:value="${expertise.id}"/>
        <table>
            <tr>
                <td><label path="file" th:text="#{selectFile.label}">Select a file..</label></td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td><input type="submit" th:value="#{add.label}"/></td>
            </tr>
        </table>
    </form>
    <div>
        &nbsp;
    </div>

</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript">
        doStuff();
    </script>
</th:block>

</html>