<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}"
      th:with="activeTab='expertiseList'">

<head>
    <title>Expertises</title>
    <script type="text/javascript" th:src="@{/js/expertise.js}" src="js/expertise.js"></script>
</head>


<div layout:fragment="page_content" id="page_content">
    <h3>[[#{Expertises.label}]]</h3>
    <form method="post">
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="expertiseNumber">[[#{Expertise.expertiseNumber.label}]]</label>
                <input type="text" class="form-control" id="expertiseNumber" name="expertiseNumber"
                       th:field="${search.expertiseNumber}"/>
            </div>

            <div class="col-md-3 form-group">
                <label for="startDate" th:text="#{dateFrom.label}">Date from</label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" id="startDate" th:field="${search.startDate}"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 form-group">
                <label for="startDate" th:text="#{dateTo.label}">Date to</label>
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" id="endDate" th:field="${search.endDate}"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 form-group">
                <label for="expertiseType" th:text="#{Expertise.expertiseTypes.label}">Expertise Type</label>
                <select id="expertiseType" class="form-control" name="expertiseType" th:field="${search.expertiseTypeId}">
                    <option value="">-</option>
                    <option th:selected="${search.expertiseTypeId==e.id}" th:each="e : ${expertiseTypes}" th:value="${e.id}"
                            th:text="${e.type}"></option>
                </select>
            </div>


        </div>
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="department" th:text="#{department.label}">Department</label>
                <select id="department" class="form-control" name="department" th:field="${search.departmentId}">
                    <option value="">-</option>
                    <option th:selected="${search.departmentId==d.id}" th:each="d : ${departments}" th:value="${d.id}"
                            th:text="${d.name}"></option>
                </select>
            </div>

            <div class="col-md-3 form-group">
                <label for="requestedBy">[[#{Expertise.requestedBy.label}]]</label>
                <input type="text" class="form-control" id="requestedBy" name="requestedBy"
                       th:field="${search.requestedBy}"/>
            </div>
            <div class="col-md-3 form-group">
                <label for="status">Status</label>
                <select id="status" class="form-control" name="status" th:field="${search.status}">
                    <option value="">-</option>
                    <option th:selected="${search.status==st+''}" th:each="st : ${T( evidata.core.model.Status).values()}"
                            th:value="${st}" th:text="${st.displayName}">status
                    </option>
                </select>
            </div>

            <div class="col-md-3 form-group">
                <label for="fileNumber">[[#{Expertise.fileNumber.label}]]</label>
                <input type="text" class="form-control" id="fileNumber" name="fileNumber"
                       th:field="${search.fileNumber}"/>
            </div>

        </div>



        <div class="row">
            <div class="col-md-3 form-group">
                <button class="btn btn-primary " type="submit">
                    <span class="glyphicon glyphicon-search"></span> [[#{search.btn.label}]]
                </button>
            </div>
            <div class="col-md-0 form-group" style="padding-right: 15px;">
                <div class="pull-right">
                    <a href="#" th:href="@{/expertiseEdit/}">
                        <button type="button" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> [[#{add.label}]]
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </form>


    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col" th:text="#{Expertise.expertiseNumber.label}">Expertise Number</th>
            <th scope="col" th:text="#{Expertise.deadline.label}">Deadline (yyyy-MM-dd)</th>
            <th scope="col" th:text="#{Expertise.department.label}">Department</th>
            <th scope="col" th:text="#{Expertise.fileNumber.label}">File Number</th>
            <th scope="col" th:text="#{Expertise.requestedBy.label}">Requested By</th>
            <th scope="col" th:text="#{Expertise.expertiseType.label}">Expertise type</th>
            <th scope="col" th:text="#{Expertise.finishDate.label}">Finish date</th>
            <th scope="col" th:text="#{Expertise.status.label}">Status</th>
            <th scope="col" th:text="#{Expertise.appUserList.label}">Users</th>
            <th scope="col" th:text="#{actions.label}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr scope="row" th:each="expertise: ${pageWrapper.content}">
            <td>
                <a href="#" th:href="@{/expertiseDetail/__${expertise.id}__}">
                    <span th:text="${expertise.expertiseNumber}"></span>
                </a>
            </td>
            <td th:text="${#dates.format(expertise.deadline,'yyyy-MM-dd')}"/>
            <td th:text="${expertise.department}? ${expertise.department.name}:''"/>
            <td th:text="${expertise.fileNumber}"/>
            <td th:text="${expertise.requestedBy}"/>
            <td th:text="${expertise.expertiseType}? ${expertise.expertiseType.type}:''"/>
            <td th:text="${#dates.format(expertise.finishDate,'yyyy-MM-dd')}"/>
            <td th:text="${expertise.status}? ${expertise.status.displayName}:''"/>
            <td>
                <ul>
                    <li th:each="u: ${expertise.appUserList}" th:text="${u.firstName+' '+u.lastName}"></li>
                </ul>
            </td>

            <td th:align="center">
                <a href="#" th:href="@{/expertiseEdit/__${expertise.id}__}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="#" class="confirm-delete" th:attr="data-id=${expertise.id}">
                    <span class=" glyphicon glyphicon-minus"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav th:replace="fragments/pagination :: pagination(${pageWrapper})">&nbsp;</nav>


</div>

<th:block layout:fragment="scripts">
    <script type="text/javascript">
        doStuff();
    </script>
</th:block>
</html>
